{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}
{% block body %}
<link rel="stylesheet" href="../static/other.css">

<div class="sam">
  <h2 class="text-center ">
    
    Welcome {{request.user}}

</h2>
<a  style="text-decoration: none; color: white; margin-left: 42%; font-size: 26px;"href="/logout">You Can logout Here</a>
<div class="santner ">
  
       <div class="card bita" style="width: 18rem;">
  <img src="../static/snake..jpg" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">Snake Game</h5>
    <p class="card-text">The player controls a dot, square, or object on a bordered plane.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>
<div class="card bita" style="width: 18rem;">
  <img src="../static/hangman-game.png" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hangman Game</h5>
    <p class="card-text">Hangman is a paper and pencil guessing game for two or more players.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div> 
<div class="card bita" style="width: 18rem;">
  <img src="../static/tic tac toe ..jpg" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tic Tac Toe Game</h5>
    <p class="card-text">Tic-tac-toe (American English), noughts and crosses (Commonwealth English)</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>
<div class="card bita" style="width: 18rem;">
  <img src="../static/shit-just-got-serious..jpg" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">Stone Paper Scissor Game</h5>
    <p class="card-text">A player who decides to play rock will beat another player who has chosen scissors.</p>
    <a href="#" class="btn btn-primary">Play</a>
  </div>
</div>
</div>
</div>
{% endblock body %}
