{% extends 'base.html' %}
{% block title %}Home
{% endblock title %}
{% block body %}
<link rel="stylesheet" href="../static/other.css">

<div class="sam">
  <h2 class="text-center ">
    
    Welcome {{request.user}}

</h2>
<a  style="text-decoration: none; color: white; margin-left: 42%; font-size: 26px;"href="/logout">You Can logout Here</a>
<div class="santner ">
  
       <div class="card bita" style="width: 18rem;">
  <img src="../static/snake..jpg" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">Snake Game</h5>
    
    <p class="card-text">The player controls a dot, square, or object on a bordered plane.</p>
    
     <button class="btn btn-primary" onclick="location.href='{% url 'game1' %}'">Play</button>
 
   
  </div>
</div>
<div class="card bita" style="width: 18rem;">
  <img src="../static/2048..jpg" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">2048 Game</h5>
    <p class="card-text">Play Puzzle Game 2048. Use your arrow keys to move the tiles. When two tiles with the same number touch.</p>
     <button class="btn btn-primary" onclick="location.href='{% url 'game2' %}'">Play</button>
     
     
     
  </div>
</div> 
<div class="card bita" style="width: 18rem;">
  <img src="../static/tic tac toe ..jpg" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tic Tac Toe Game</h5>
    <p class="card-text">Tic-tac-toe (American English), noughts and crosses (Commonwealth English)</p>
    <button class="btn btn-primary" onclick="location.href='{% url 'game1' %}'">Play</button>
    
  </div>
</div>
<div class="card bita" style="width: 18rem;">
  <img src="../static/shit-just-got-serious..jpg" class="card-img-top alpha" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rock Paper Scissor Game</h5>
    <p class="card-text">A player who decides to play rock will beat another player who has chosen scissors.</p>
     <button class="btn btn-primary" onclick="location.href='{% url 'game4' %}'">Play</button>
    
  </div>
</div>
</div>
</div>
{% endblock body %}
